.home {
    display: flex;
    margin-top: 15vh;
    border-radius: 5px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.tickets-details-table{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

.category-icon{
    width: 50px;
    height: 50px;
}

li {
    border-radius: 3px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.table-header {
    background-color: #393E46;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #F7F7F7;
}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.col-1 {
    flex-basis: 20%;
}

.col-2 {
    flex-basis: 20%;
}

.col-3 {
    flex-basis: 20%;
}

.col-4 {
    flex-basis: 40%;
}

@media all and (max-width: 767px) {
    .table-header {
        display: none;
    }

    .table-row {}

    li {
        display: block;
    }

    .col {

        flex-basis: 100%;

    }

    .col {
        display: flex;
        padding: 10px 0;

        /* &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            } */
    }
}