<app-header></app-header>
<div class="container">
    <div class="side-bar-col">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content">
        <div class="home">
            <ul class="tickets-details-table">
                <li class="table-header">
                    <div class="col col-1">Category</div>
                    <div class="col col-2">Seats Count</div>
                    <div class="col col-3">Date & Time</div>
                    <div class="col col-4">Description</div>
                </li>
                <div *ngFor="let ticket of tickets">
                    <li class="table-row">
                        <div class="col col-1" data-label="Job Id">
                            <div *ngIf="ticket.category == 0">
                                <img class="category-icon" src="https://live.staticflickr.com/65535/53068770634_89d47cae0e_n.jpg">
                            </div>
                            <div *ngIf="ticket.category == 1">
                                <img class="category-icon" src="https://live.staticflickr.com/65535/53068972865_c4c4b3a0b8_n.jpg">
                            </div>
                            <div *ngIf="ticket.category == 2">
                                <img class="category-icon" src="https://live.staticflickr.com/65535/53068770624_61f94a7386_n.jpg">
                            </div>
                        </div>
                        <div class="col col-2" data-label="Customer Name">{{ticket.seatsCount}}</div>
                        <div class="col col-3" data-label="Amount">{{ticket.dateTime}}</div>
                        <div class="col col-4" data-label="Payment Status">{{ticket.description}}</div>
                    </li>
                </div>
            </ul>
        </div>

    </div>
    <div class="right-bar-col">
        <div class="filter">
            <p class="filter-title">Filter Options</p>
            <div class="filter-option">
                <label>Category</label>
                <select class="filter-category" type="text" name="category" [(ngModel)]="filterCategory">
                    <option value="0">Bus</option>
                    <option value="1">Train</option>
                    <option value="2">Theatre</option>
                </select>
            </div>
            <button class="filter-button" (click)="filter()">Filter</button>
        </div>
    </div>
</div>