.side-bar{
    margin-left: 2vw;
    background-color: var(--color1);
    width: 15%;
    position: fixed;
    display: block;
    padding: 1em;
    border-radius: 3px;
}
.side-bar-row{
    padding: 1em;
    border: none;
    height: 20px;
}

.side-bar-text{
    font-size: 20px;
    color: var(--font-color1);
    cursor: pointer;
    font-family: var(--font);
    text-align: center;
}


.active{
    background-color: var(--color2);
}

.side-bar-text:hover{
    /* text-shadow: 0 0 2px #FFFFFF; */
    transition-duration: 0.4s;
    animation-timing-function: ease-in;
    font-size: 21px;
    /* color: #d3bd9a; */
}