<div class="side-bar">
    <div class="side-bar-row" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
        <p class="side-bar-text">Home</p>
    </div>
    <div class="side-bar-row" routerLinkActive="active">
        <p class="side-bar-text">User Info</p>
    </div>
    <div class="side-bar-row" routerLinkActive="active">
        <p class="side-bar-text">Sell Tickets</p>
    </div>
    <div class="side-bar-row" routerLinkActive="active">
        <p class="side-bar-text">Buy Tickets</p>
    </div>
    <div class="side-bar-row" routerLink="/settings" routerLinkActive="active">
        <p class="side-bar-text">Settings</p>
    </div>
    <div class="side-bar-row" routerLink="/starred" routerLinkActive="active">
        <p class="side-bar-text">Starred</p>
    </div>
</div>