<app-header></app-header>
<div class="container">
    <div class="side-bar-col">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content">
        <div class="add-ticket">
            <div class="left-col">
                <form class="ticket-sell-form" [formGroup]="ticketForm" (ngSubmit)="addTicketDetails()">
                    <div class="ticket-sell-form-row">
                        <select class="ticket-sell-form-row-input" type="text" name="category" formControlName = "category">
                            <option disabled  value="">Category</option>
                            <option value="0">Bus</option>
                            <option value="1" selected>Train</option>
                            <option value="2">Theatre</option>
                        </select>
                    </div>
                    <div class="ticket-sell-form-row">
                        <input class="ticket-sell-form-row-input" placeholder="Contact Person Name" type="text" name="contactName" formControlName ="contactName">
                    </div>
                    <div class="ticket-sell-form-row">
                        <input class="ticket-sell-form-row-input" placeholder="Contact Number" type="text" name="contactNumber" formControlName ="contactNumber">
                    </div>
                    <div class="ticket-sell-form-row">
                        <input class="ticket-sell-form-row-input" placeholder="Seats Count" type="number" name="seatsCount" formControlName = "seatsCount">
                    </div>
                    <div class="ticket-sell-form-row">
                        <input class="ticket-sell-form-row-input" placeholder="When" type="text" datetime="yyyy-MM-dd HH:mm:ss"
                            name="dateTime" formControlName ="dateTime">
                    </div>
                    <div class="ticket-sell-form-row">
                        <input class="ticket-sell-form-row-input" placeholder="Descriptions" type="text" name="description" formControlName ="description">
                    </div>
                    <div class="ticket-sell-form-row">
                        <button *ngIf="!isUpdated" class="ticket-sell-form-button" type="submit">Add</button>
                        <button *ngIf="isUpdated" class="ticket-sell-form-button" type="submit">Update</button>
                    </div>
                </form>
            </div>
            <div class="right-col">
                <img class="ticket-sell-img"
                    src="https://live.staticflickr.com/65535/53068770659_10820e7ab8_n.jpg">
            </div>
        </div>
        <div class="sell-ticket">
            <ul class="tickets-details-table">
                <li class="table-header">
                    <div class="col col-1">Category</div>
                    <div class="col col-2">Seats Count</div>
                    <div class="col col-3">Date & Time</div>
                    <div class="col col-4">Description</div>
                </li>
                <li class="table-row" *ngFor="let ticket of tickets">
                    <div class="col col-1" data-label="Job Id">
                        <div *ngIf="ticket.category == 0">
                            <img class="category-icon" src="https://live.staticflickr.com/65535/53068770634_89d47cae0e_n.jpg">
                        </div>
                        <div *ngIf="ticket.category == 1">
                            <img class="category-icon" src="https://live.staticflickr.com/65535/53068972865_c4c4b3a0b8_n.jpg">
                        </div>
                        <div *ngIf="ticket.category == 2">
                            <img class="category-icon" src="https://live.staticflickr.com/65535/53068770624_61f94a7386_n.jpg">
                        </div>
                    </div>
                    <div class="col col-2" data-label="Customer Name">{{ticket.seatsCount}}</div>
                    <div class="col col-3" data-label="Amount">{{ticket.dateTime}}</div>
                    <div class="col col-4" data-label="Payment Status">{{ticket.description}}</div>
                    <button (click)="deleteTicket(ticket.id)">Delete</button>&nbsp;
                    <button (click)="edit(ticket)">Edit</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-bar-col"></div>
</div>