.add-ticket {
    display: flex;
    border-radius: 2px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.sell-ticket {
    margin-top: 10vh;
    display: flex;
    border-radius: 2px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.ticket-sell-form {
    padding: 1em;
    
}

.left-col {
    width: 50%;
}

.right-col {
    width: 50%;
    /* padding: 10px; */
    /* background-color: #F2E7D5; */
}

.ticket-sell-form-row {
    padding: 0.5em;
    margin-top: 2vh;
}

.ticket-sell-form-row-label {
    font-family: var(--font);
}

.ticket-sell-form-row-input {
    font-family: var(--font);
    width: 100%;
    padding: 4px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    font-size: 16px;
    outline: none;
    color: #000;
}

.ticket-sell-img {
    margin-top: 8vh;
    height: 40vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ticket-sell-form-button {
    background-color: var(--color2);
    border: 1px solid transparent;
    border-radius: 3px;
    box-sizing: border-box;
    color: var(--font-color1);;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: var(--font);
    font-size: 16px;
    /* font-weight: 600; */
    line-height: 0.5rem;
    padding: 0.4em 1.2em;
    text-align: center;
    text-decoration: none #6B7280 solid;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.ticket-sell-form-button:hover {
    background-color: #446255;
}

.ticket-sell-form-button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .ticket-sell-form-button {
        padding: .75rem 1.5rem;
    }
}


.tickets-details-table {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

.category-icon {
    width: 50px;
    height: 50px;
}

li {
    border-radius: 3px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.table-header {
    background-color: #393E46;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--font-color1);
    font-family: var(--font);
}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.col-1 {
    flex-basis: 20%;
}

.col-2 {
    flex-basis: 20%;
}

.col-3 {
    flex-basis: 20%;
}

.col-4 {
    flex-basis: 40%;
}

@media all and (max-width: 767px) {
    .table-header {
        display: none;
    }

    .table-row {}

    li {
        display: block;
    }

    .col {

        flex-basis: 100%;

    }

    .col {
        display: flex;
        padding: 10px 0;

        /* &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            } */
    }
}