.home {
    display: flex;
    margin-top: 10vh;
    border-radius: 5px;
    /* border-width: 1px; */
    /* border-color:#393E46 ; */
    /* border-style:solid; */
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.ticket-sell-form {
    padding: 1em;
}

.left-col {
    width: 50%;
}

.right-col {
    width: 50%;
    /* padding: 10px; */
    /* background-color: #F2E7D5; */
}

.ticket-sell-form-row {
    padding: 0.5em;
}

.ticket-sell-form-row-label {
    font-family: Arial, Helvetica, sans-serif;
}

.ticket-sell-form-row-input {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 0.5em 0.1em;
}

.ticket-sell-img {
    margin-top: 8vh;
    height: 40vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ticket-sell-form-button {
    background-color: #6D9886;
    border: 1px solid transparent;
    border-radius: 3px;
    box-sizing: border-box;
    color: #F7F7F7;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    /* font-weight: 600; */
    /* line-height: 1.5rem; */
    padding: 0.4em 1.2em;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.ticket-sell-form-button:hover {
    background-color: #446255;
}

.ticket-sell-form-button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .ticket-sell-form-button {
        padding: .75rem 1.5rem;
    }
}